/*Fuentes*/
@font-face {
    font-family: 'JosefinSans-Bold';
    src: url('../fonts/JosefinSans-Bold.eot');
    src: url('../fonts/JosefinSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-Bold.woff2') format('woff2'),
        url('../fonts/JosefinSans-Bold.woff') format('woff'),
        url('../fonts/JosefinSans-Bold.ttf') format('truetype'),
        url('../fonts/JosefinSans-Bold.svg#JosefinSans-Bold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JosefinSans-Light';
    src: url('../fonts/JosefinSans-Light.eot');
    src: url('../fonts/JosefinSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-Light.woff2') format('woff2'),
        url('../fonts/JosefinSans-Light.woff') format('woff'),
        url('../fonts/JosefinSans-Light.ttf') format('truetype'),
        url('../fonts/JosefinSans-Light.svg#JosefinSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JosefinSans-Medium';
    src: url('../fonts/JosefinSans-Medium.eot');
    src: url('../fonts/JosefinSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-Medium.woff2') format('woff2'),
        url('../fonts/JosefinSans-Medium.woff') format('woff'),
        url('../fonts/JosefinSans-Medium.ttf') format('truetype'),
        url('../fonts/JosefinSans-Medium.svg#JosefinSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JosefinSans-Regular';
    src: url('../fonts/JosefinSans-Regular.eot');
    src: url('../fonts/JosefinSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-Regular.woff2') format('woff2'),
        url('../fonts/JosefinSans-Regular.woff') format('woff'),
        url('../fonts/JosefinSans-Regular.ttf') format('truetype'),
        url('../fonts/JosefinSans-Regular.svg#JosefinSans-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JosefinSans-SemiBold';
    src: url('../fonts/JosefinSans-SemiBold.eot');
    src: url('../fonts/JosefinSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-SemiBold.woff2') format('woff2'),
        url('../fonts/JosefinSans-SemiBold.woff') format('woff'),
        url('../fonts/JosefinSans-SemiBold.ttf') format('truetype'),
        url('../fonts/JosefinSans-SemiBold.svg#JosefinSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
html{
    font-size: 16px;
}
body{
    font-family: 'JosefinSans-Regular', sans-serif;
    color: #2a2c2b;
}
*{
    position: relative;
}
.josefin{
    font-family: 'JosefinSans-Regular', sans-serif;
}
.josefinl{
    font-family: 'JosefinSans-Light', sans-serif;
}
.josefinm{
    font-family: 'JosefinSans-Medium', sans-serif;
}
.josefins{
    font-family: 'JosefinSans-SemiBold', sans-serif;
}
.josefinb{
    font-family: 'JosefinSans-Bold', sans-serif;
}
img{
    max-width: 100%;
}
img.svg{
    vertical-align: sub;
}
.mt-6, .my-6{
    margin-top: 6rem !important;
}
.mb-6, .my-6{
    margin-bottom: 6rem !important;
}
.pt-6, .py-6{
    padding-top: 6rem !important;
}
.pb-6, .py-6{
    padding-bottom: 6rem !important;
}
h1{
    font-size: 7.375rem;
    font-family: 'JosefinSans-Bold', sans-serif;
}
h2{
    font-size: 5.313rem;
    font-family: 'JosefinSans-Bold', sans-serif;
}
h3{
    font-size: 3.75rem;
    font-family: 'JosefinSans-Bold', sans-serif;
}
h4{
    font-size: 3.125rem;
    font-family: 'JosefinSans-Bold', sans-serif;
}
h5, .h5{
    font-size: 1.875rem;
}

.navbar-brand img{
    max-width: 140px;
}
a{
    color: #2a2c2b;
    text-decoration: none;
}
a.nav-link{
    font-size: 1.563rem;
    line-height: 1.875rem;
}
p.big{
    font-size: 1.125rem;
    line-height: 1.375rem;
}
p.biggest{
    font-size: 1.423rem;
    line-height: 1.75rem;
}

#header{
    transition: 0.5s background ease;
}
#header.scrolled{
    background: white;
}
#header .container-fluid{
    width: 95%;
}
/*
#header-banner{
    background-image: url('../img/header-banner.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 115%;
    min-height: 100vh;
}
*/
#header-banner{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-width: 100vw;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
#header-banner .video-wrap{
    position: absolute;
    z-index: -999;
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
    background-color: #000;
    max-width: unset;
}
#header-banner .video-wrap .video-embed{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    opacity: 0.75;
}

#header-banner iframe,
#header-banner object,
#header-banner embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#preventa-section .row > .preventa-content{
    padding-left: 10%;
    padding-right: 50px;
}
#preventa-section .row > .preventa-image{
    padding-left: 50px;
}

.naranja{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

form{
    width: 100%;
    margin: auto;
    display: block;
}
form input.form-control{
    border: none;
    border-bottom: 1.4px solid #2a2c2b;
    border-radius: 0;
    margin-bottom: 30px;
}
form input.form-control::placeholder {
    font-size: 1.563rem;
    color: #2a2c2b;
    font-weight: 300;
    font-family: 'JosefinSans-Light', sans-serif;
}
form button.btn-primary{
    font-size: 1.563rem;
    background-color: #bc4057;
    border-color: #bc4057;
    min-width: 100px;
    padding: 5px 20px;
    border-radius: 0;
    font-family: 'JosefinSans-Light', sans-serif;
}
form button.btn-primary:hover{
    background-color: #9e3044;
    border-color: #9e3044;
}

#footer-section{
    border-top: 1.5px solid #2a2c2b;
}


@media(max-width: 1440px){
    html{
        font-size: 14px;
    }
    #preventa-section .row > .preventa-content{
        padding-left: 6%;
    }
}
@media(max-width: 768px){
    html{
        font-size: 13px;
    }
    h1{
        font-size: 5.375rem;
    }
    .mt-md-3{
        margin-top: 1rem!important;
    }
    #header-banner{
        background-size: 180vh;
        min-height: 80vh;
    }
    #alcance-section .gallery-img{
        padding: 0 !important;
    }
    #alcance-section .gallery-img img{
        height: 350px;
        object-fit: cover;
    }
    .form-subsection > div:first-child{
        margin-bottom: 2rem;
    }
}
@media(max-width: 425px){
    html{
        font-size: 12px;
    }
    h1{
        font-size: 5rem;
    }
    .mb-6, .my-6 {
        margin-bottom: 2rem !important;
    }
    .mt-6, .my-6 {
        margin-top: 2rem !important;
    }
    .text-center-xs{
        width: 100%;
        text-align: center;
    }

    #preventa-section .row > .preventa-content{
        padding: 0;
    }
    #preventa-section .row > .preventa-image{
        padding-left: 0;
    }
    
    .naranja{
        width: 100%;
        text-align: center;
    }
}